<html>
<h1>list of all directors</h1>
<% @directors.each do |director| %>
  <table>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Dob</th>
      <th></th>
    </tr>
    <tr>
      <td><%=director.id%></td>
     <td><a href="<%= director.image %>"><img src="<%= director.image %>" alt="Director image" style="width:100px;height:auto;"></a></td>
      <td><%=director.name%></td>
      <td><%=director.dob%></td>
      <td>see details</td>
    </tr>
 
  </table> 
<%end%>
</html>
